name: API_Automation_Framework

on:
 push:
 pull_request:

jobs:
 api-tests:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout code
     uses: actions/setup-java@v4

   - name: Setup Java
     uses: actions/setup-java@v4
     with:
      distribution: 'temurin'
      java-version: '17'

   - name: Run API Tests
    run: mvn test
